<section id="logoTop" class="logoTop">
  <header id="topNav">
    <div id="logo" class="logo"></div>
      <div id="avatar" class="avatar">
        <a href="#modalAddUser">
          <img src="./assets/images/avatar.png">
          <img src="./assets/images/arrow.png" class="arrow">
        </a>
      </div>
      <div id="search" class="search">
        <form>
          <input type="text" class="search" size="20">
        </form>
      </div>
      <div id="chat" class="chat">
        <a href="#modal">
          <img src="./assets/images/message.png">
        </a>
      </div>
  </header>
</section>