<section id="heroNav" class="heroNav">
  <section id="roundabout" class="roundabout">
    <section id="message" class="message">
      <form>
        <input type="text" class="messageText" size="35" placeholder="What's on your mind?">
      </form>
      <p id="ctaLinks" class="ctaLinks">
        <a href="#"><img src="../../assets/images/photo.png"> <span class="leftPad">Add Photo</span></a>
        <a href="#" class="ctaPad"><img src="../../assets/images/video.png"> <span class="leftPad">Add Video</span></a>
      </p>
    </section>   
    <div id="mainNav" class="mainNav">
      <a href="javascript:void(0)" class="navPad first activeSelect">All Posts</a>
      <a href="javascript:void(0)" class="navPad">Photos</a>
      <a href="javascript:void(0)" class="navPad">Videos</a>
      <div id="changeUp" class="changeUp">
        <a href="#"><img src="../../assets/images/list.png"></a>
        <a href="#" class="leftPad"><img src="../../assets/images/tile.png"></a>
      </div>
    </div>
  </section>
</section>