/* You can add global styles to this file, and also import other style files */
@charset "utf-8";

@import './scss/variables'; 
@import '../node_modules/bootstrap/scss/bootstrap';

/* font */
@font-face {
  font-family: 'ProximaNova';
  src:  url('./assets/fonts/ProximaNova-Light.otf') format('woff2'),
        url('./assets/fonts/ProximaNova-Light.otf') format('woff');		
}

img, object, embed, video {
	max-width: 100%;
}

.ie6 img {
	width:100%;
}

/* reset */

	html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
	}

	article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
		display: block;
	}

	body {
		line-height: 1;
	}

	ol, ul {
		list-style: none;
	}

	blockquote, q {
		quotes: none;
	}

	blockquote:before, blockquote:after, q:before, q:after {
		content: '';
		content: none;
	}

	table {
		border-collapse: collapse;
		border-spacing: 0;
	}

	body {
		-webkit-text-size-adjust: none;
	}

/* box model */

	*, *:before, *:after {
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}

/* basic */

	@-ms-viewport {
		width: device-width;
	}
	
	body {
		background: #F8F8F8;
		font-family: 'ProximaNova', sans-serif;
		font-size: 12pt;
		line-height: 1em;
		color: #888;
		-webkit-text-stroke: 0.1px;
	}
	
	a:link, a:visited, a:active, a:hover {
		text-decoration: none;
	}
	
	img {
		border: 0px;
	}
	
/* header */
	
	.logoTop header {
		background-color: #262728;
		width: 100%;
		height: 50px;
		position: fixed;
		z-index: 1;
	}
	
	.heroNav {
		width: inherit;
		height: 432px;	
		margin-bottom: 50px;
		background: url(./assets/images/hero.jpg);
	}	
	
	.logo {
		background: url(./assets/images/logo.png) no-repeat top;
		height: 25px;
		width: 137px;
		margin-top: 12px;
		margin-left: 10%;
		float: left;
	}
	
	.chat {
		height: 26px;
		width: 31px;
		float: right;
		margin-top: 15px;
		margin-right: 25px;	
	}
	
	.search {
		float: right;
		margin-top: 15px;
	}
	
	.avatar {
		float: right;
		margin-top: 11px;
		margin-left: 25px;
		margin-right: 10%;
	}
	
	.arrow {
		margin-top: 12px;
		margin-left: 10px;
		float: right;
		clear: both;
	}
	
	.roundabout { /* EDIT FOR RESPONSE */
		margin: 0 auto;
		padding-top: 5%;
		width: 35%;
	}
	
	.heroNav {
		position: relative;
	}
	
  input.search {
    background: transparent;
    border: 1px solid gray;
    border-radius: 4px;
    padding: 3px;
    position: relative;
    top: -18px;
    color: gray;
  }

	.mainNav {	
		position: absolute;
		bottom: 0px;
		padding-bottom: 35px;
		float: left;
		text-transform: uppercase;
		font-weight: 500;
		font-size: 13px;
		width: 33%;		
	}
	
	.mainNav a:hover, .mainNav a:active {
		padding-bottom: 34px;
		border-bottom: 3px solid #3bb389 !important;
	}
	
	.activeSelect {
		border-bottom: 3px solid #3bb389 !important;
		padding-bottom: 34px;
	}
	
	.first {
		padding-left: 0px !important;
	}
	
	.leftPad {
		padding-left: 10px;
	}
	
	.navPad {
		padding-left: 15px;
		padding-right: 15px;
		color: #bec3cc;
	}	
	
	.ctaLinks a:link, .ctaLinks a:active, .ctaLinks a:hover, .ctaLinks a:visited {
		color: #fff;
		font-size: 14px;
	}	
	
	.changeUp {
		float: right;
	}
	
	.message {
		height: auto;
		background-color: #3bb389;
		opacity: 0.65;
		padding: 50px 25px;
		
	}
	
	.messageText {
		font-size: 26px;
		color: #ffffff !important;
		margin-bottom: 25px;
		border: 0px;
		background: transparent;
		width: 100%;
		padding-left: 10px;
	}
	
	.ctaPad {
		margin-left: 20px;
	}
	
/* main content div */

	#mainContent {
		width: 33%;
		margin: 0 auto;
		clear: both;
	}
	
	
/* posts */
	.postStyle {
		margin-top: 15px;
		font-size: 16px;		
		border: 1px solid #CCC;
		border-radius: 5px;
		color: #000;
		overflow: hidden;
	}
	
	.postLeft {
		float: left;
		width: 40px;	
		margin: 25px 0 0 25px;	
	}
	
	.postRight {
		float: right;
		width: 85% !important;
		line-height: 20px;
		text-align: left;
		padding: 25px 25px 25px 0;		
	}
	
	.rightTitle {
		clear: both;
		font-size: 16px;
	}
	
	.rightName {
		float: left;
		font-size: 18px;
	}
	
	.rightNav {
		float: right;
		color: #bec3cc;
	}
	
	.rightNav img {
		padding-right: 15px;
	}
	
	.rightContent {
		clear: both;
	}
	
	.rightContent a:link, .rightContent a:active, .rightContent a:visited, .rightContent a:hover  {
		color: #bec3cc;
	}
	
	.rightText {
		padding-top: 20px;
	}
	
	.expandLink {
		color :#999;
		font-size: 12px;
		padding-top: 20px;
	}
	
	.picturePost img, .videoPost img{
		min-width: 100%;
		vertical-align: bottom;
	}	
	
	.clear {
		clear: both;
		height: 0px;
		margin: 0px;
		padding: 0px;
	}
	
	.loadMore {
		text-align: center;
		font-size: 12px;
		width: 100%;
		margin-top: 50px;
		margin-bottom: 100px;		
	}
	
	.loadLink {
		text-transform: uppercase;
		color: #bec3cc;
		margin: 0 auto;
	}
	
/* footer */

	#footer {
		margin-bottom: 50px;
		width: 100%;
		text-align: center;
		font-size: 12px;
		text-transform: uppercase;
		border-top: 1px solid #dee1e5;
		padding-top: 25px;
	}
	
	#footer a:link, #footer a:visited, #footer a:active, #footer a:hover {
		color: #00b286;
		padding-right: 25px;
	}
			
/* placeholder */		
	::-webkit-input-placeholder {
	   color: #fff;
	   font-family: 'ProximaNova', sans-serif;
	}
	
	:-moz-placeholder { /* Firefox 18- */
	   color: #fff; 
	   font-family: 'ProximaNova', sans-serif; 
	}
	
	::-moz-placeholder {  /* Firefox 19+ */
	   color: #fff;  
	   font-family: 'ProximaNova', sans-serif;
	}
	
	:-ms-input-placeholder {  
	   color: #fff;  
	   font-family: 'ProximaNova', sans-serif;
	}
	
/*  modal */
#modal, #modalAddUser {
	left:75%;
	margin: -250px 0 0 -40%;
	opacity: 0;
	position:fixed;
	visibility: hidden;
	width:30%;
	box-sizing:border-box;
	border-radius: 5px;
	transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-webkit-transition: all 0.4s ease-in-out;
}
	/* Make the modal appear when targeted */
	#modal:target, #modalAddUser:target {
		opacity: 1;
		visibility: visible;
	}
	#modal .btn, #modalAddUser .btn {
		float:right;
    text-align: right;
		margin-top: -30px;
		margin-right: -40px;
	}
	#modal .btn img, #modalAddUser .btn img {
		max-width: 32px;
	}	
	#modal .copy, #modalAddUser .copy {
		padding:15px;
	}
	.modal-content {
		border-radius: 5px;
		background-color: #dee1e5;
		position: relative;
		z-index: 20;
	}
	#modal .copy, #modalAddUser .copy {
		padding: 25px;
	}
	.modalTitle {
		font-size: 18px;
		margin-bottom: 20px;
	}
	.modalCtaLinks {
		margin-top: 20px;
	}
	.modalCtaLinks a:link, .modalCtaLinks a:visited, .modalCtaLinks a:active, .modalCtaLinks a:visited {
		color: #fff;
	}
	.modalMessage {
		padding-bottom: 15px;
	}
	.modalTextInp {
		width: 100%;
		border: 0px;
	}
	.submit {
		float: right;
		padding: 10px;
		color: #fff;
		background-color: #00b286;
		border-radius: 5px;
		display: block;
		margin-top: -10px;
	}
	#modal .overlay, #modalAddUser .overlay {
		background-color: #000;
		background: rgba(0,0,0,.8);
		height: 100%;
		left: 0;
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 10;
	}

  .modalInput input[type="text"] {
    width: 100%;
  }
		
/* media queries */

/* Mobile Layout: 480px and below. */

.roundabout, .mainNav, #mainContent{
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}
.mainNav {
	padding-left: 10px;
	padding-right: 10px;
}
.messageText {
	padding-left: 0px;
}
.postRight {
	width: 72% !important;
	font-size: 14px;
}
.heroNav {
	height: 275px;
}
#footer {
	padding-left: 5px;
	padding-right: 5px;
}
.loadMore {
	margin-bottom: 50px;
}
#modal {
	width: 90% !important;
	left: 45% !important;
}
#modal .btn {
	float: right;
	margin-top: -30px !important;
	margin-right: -10px !important;
}
.modalCtaLinks {
	margin-top: 10px;
	font-size: 11px;
}
.search, .chat {
	visibility: hidden;
}

/* Tablet Layout: 481px to 768px. Inherits styles from: Mobile Layout. */

@media only screen and (min-width: 481px) {
  .roundabout, .mainNav, #mainContent {
    width: 90.675%;
    padding-left: 1.1625%;
    padding-right: 1.1625%;
  }
  .postRight {
    width: 85% !important;
    font-size: 16px;
  }
  .loadMore {
    margin-bottom: 50px;
  }
  .chat, .search {
    visibility: visible;
  }
}

/* Desktop Layout: 769px to a max of 1232px.  Inherits styles from: Mobile Layout and Tablet Layout. */

@media only screen and (min-width: 769px) {
  .roundabout  {
    width: 35%;
    max-width: 1232px;
    padding-left: 0.9%;
    padding-right: 0.9%;
    margin: auto;
  }
  .mainNav, #mainContent {
      width: 34%;
  }
  .heroNav {
      height: 432px;
  }
  .postRight {
      width: 85% !important;
      font-size: 16px;
  }
  .loadMore {
      margin-bottom: 100px;
  }
  #modal {
      width: 30% !important;
      left: 75% !important;
  }
  #modal .btn, #modalAddUser .btn {
      float: right;
      margin-right: -40px !important;
  }
  .modalCtaLinks {
      margin-top: 20px;
      font-size: 15px;
  }
  .chat, .search {
      visibility: visible;
  }
  .chat { 
      margin-right: 25px;
  }
}